%html{:lang => "en"}
  %head= stylesheet_link_tag 'application', media: 'all'
%html
  %body
    .container
      = render partial: 'shared/top_nav'
      = yield
    = javascript_include_tag 'application'